body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    padding: 2vw;
    box-sizing: border-box;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    width: 90vw;
    height: 40vh;
    border: 1px solid black;
    border-radius: 20px;
    padding: 2vw;
    box-sizing: border-box;
}

.form-item{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: xx-large;
    font-weight: bold;
}

.action-buttons{
    margin-top: 2vh;
}

.action-buttons button{
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0.8vw;
    cursor: pointer;
}

.card-contato{
    width: 90vw;
    height: 15vh;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1vw;
    box-sizing: border-box;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}

.card-contato h2{
    font-size: x-large;
    color: blue;
    margin-bottom: 1vh;
}

.modal-input-cpf-container{
    width: 100vw;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-top: -13vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-input-cpf{
    width: 30vw;
    height: 40vh;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    box-sizing: border-box;
}

.fechar-modal-remover, .fechar-modal-buscar{
    align-self: flex-end;
    background: none;
    color: black;
    border: none;
    font-weight: bolder;
    font-size: x-large;
    cursor: pointer;
}

.form-cpf-modal-input{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.form-cpf-modal-input button{
    margin-top: 4vh;
    width: 50%;
    align-self: center;
    border: none;
    background-color: blue;
    border-radius: 5px;
    padding: 0.5vw;
    color: white;
    cursor: pointer;
}